version: '3'

services:
  bookmarkservice:
    image: bookmark-service:0.0.1-SNAPSHOT
    container_name: bookmarkservice
    depends_on:
      - db
      - rabbitmq
      - authservice
    environment:
      - POSTGRES_HOST=jdbc:postgresql://db:5432/digitalbookmark
      - POSTGRES_USER=digitalbookmark
      - POSTGRES_PASS=postgrePass
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
      - RABBITMQ_USERNAME=guest
      - RABBITMQ_PASSWORD=guest
    ports:
      - "8080:8080"
    networks:
      - digitalbookmark

  fileservice:
    image: file-service:0.0.1-SNAPSHOT
    container_name: fileservice
    ports:
      - "8082:8082"
    depends_on:
      - db
      - rabbitmq
      - authservice
    environment:
      - POSTGRES_HOST=jdbc:postgresql://db:5432/digitalbookmark
      - POSTGRES_USER=digitalbookmark
      - POSTGRES_PASS=postgrePass
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
      - RABBITMQ_USERNAME=guest
      - RABBITMQ_PASSWORD=guest
    networks:
      - digitalbookmark

  authservice:
    image: auth-service:0.0.1-SNAPSHOT
    container_name: authservice
    ports:
      - "8081:8081"
    depends_on:
      - db
      - rabbitmq
    environment:
      - POSTGRES_HOST=jdbc:postgresql://db:5432/digitalbookmark
      - POSTGRES_USER=digitalbookmark
      - POSTGRES_PASS=postgrePass
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
      - RABBITMQ_USERNAME=guest
      - RABBITMQ_PASSWORD=guest
    networks:
      - digitalbookmark

  client:
    image: client-service:latest
    container_name: client
    ports:
      - "8083:8083"
    depends_on:
      - authservice
      - bookmarkservice
      - fileservice
    environment:
      - AUTHSERVICE_HOST=http://authservice:8081
      - BOOKMARKSERVICE_HOST=http://bookmarkservice:8080
      - FILESERVICE_HOST=http://fileservice:8082
    networks:
      - digitalbookmark

  rabbitmq:
    image: rabbitmq:3.13-rc-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - digitalbookmark

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - bookmarkservice
      - fileservice
      - authservice
      - client
    networks:
      - digitalbookmark

  db:
    image: 'postgres:15.1-alpine'
    container_name: db
    environment:
      - POSTGRES_USER=digitalbookmark
      - POSTGRES_PASSWORD=postgrePass
      - POSTGRES_DB=digitalbookmark
    volumes:
      - postgres-data:/var/lib/postgresql
    networks:
      - digitalbookmark

networks:
  digitalbookmark:

volumes:
   postgres-data:


#  prometheus:
#    image: 'prom/prometheus'
#    container_name: 'prometheus'
#    ports:
#      - 9090:9090
#    volumes:
#      - ./prometheus:/etc/prometheus
#    command: --web.enable-lifecycle  --config.file=/etc/prometheus/prometheus.yml
#    networks:
#      - digitalbookmark
#
#  grafana:
#    image: 'grafana/grafana-enterprise'
#    container_name: 'grafana'
#    depends_on:
#      - prometheus
#    ports:
#      - 3000:3000
#    volumes:
#      - grafana-data:/var/lib/grafana
#    networks:
#      - digitalbookmark
#
#  postgres-exporter:
#    image: bitnami/postgres-exporter:latest
#    container_name: postgres-exporter
#    environment:
#      DATA_SOURCE_NAME: "postgres://digitalbookmark:postgrePass@postgres:5432/digitalbookmark?sslmode=disable"
#    ports:
#      - "9187:9187"
#    depends_on:
#      - db
#    networks:
#      - digitalbookmark

#volumes:
#  grafana-data:
#  graylog_journal:
#  es_data:
