.header {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

.header a:hover {
    text-decoration: underline;
}