.users-view {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f2f5; /* Фоновый цвет страницы */
    justify-content: center;
    align-items: center;
}

.grid-container {
    width: 80%;
    max-width: 800px;
}

.assign-group-dialog {
    width: 400px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.assign-group-dialog .dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.assign-group-dialog .dialog-header h2 {
    margin: 0;
}

.assign-group-dialog .dialog-header i {
    cursor: pointer;
}

.assign-group-dialog .form-field {
    margin-bottom: 10px;
    width: 100%;
}

.assign-group-dialog button {
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 0;
}

.assign-group-dialog button:hover {
    background-color: #0056b3;
}

.promote-button {
    color: #007bff;
    cursor: pointer;
}

.demote-button {
    color: #007bff;
    cursor: pointer;
}

.assign-group-button {
    color: #007bff;
    cursor: pointer;
}

.unassign-group-button {
    color: #007bff;
    cursor: pointer;
}
.enable-icon {
    cursor: pointer;
}

.promote-dialog {
    width: 400px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.promote-dialog .dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.promote-dialog .dialog-header h2 {
    margin: 0;
}

.promote-dialog .dialog-header i {
    cursor: pointer;
}

.promote-dialog button {
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 0;
    margin-bottom: 10px;
}

.promote-dialog button:hover {
    background-color: #0056b3;
}

.confirm-dialog {
    width: 400px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.confirm-dialog .dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}